driverClassName=com.mysql.jdbc.Driver
url=jdbc:mysql:/somewhere:3306/Database
username=username
password=password
#driverClassName = com.mysql.jdbc.Driver
#url = jdbc:mysql://localhost:3306/Database
#username = root
#password = root
appenders=debug, console, file
logger.file.name=org.justinhoang
logger.file.level=debug