#DEVELOPMENT NV
#server.port=8080
#jdbc.driverClassName = com.mysql.jdbc.Driver
#jdbc.url = jdbc:mysql://localhost:3306/database
#jdbc.username = root
#jdbc.password = root
#hibernate.dialect = org.hibernate.dialect.MySQL8Dialect
#hibernate.show_sql = true
#hibernate.format_sql = true
#hibernate.hbm2ddl.auto = update

#DEPLOYMENT NV
server.port=5000
jdbc.driverClassName = com.mysql.jdbc.Driver
jdbc.url = jdbc:mysql://example.com:3306
jdbc.username = username
jdbc.password = password
hibernate.dialect = org.hibernate.dialect.MySQL8Dialect
hibernate.show_sql = true
hibernate.format_sql = true
hibernate.hbm2ddl.auto = update

#DEVELOPMENT O
#server.port=8080
#jdbc.driverClassName = com.mysql.jdbc.Driver
#jdbc.url = jdbc:mysql://localhost:3306/database
#jdbc.username = root
#jdbc.password = root
#hibernate.dialect = org.hibernate.dialect.MySQL8Dialect
#hibernate.show_sql = true
#hibernate.format_sql = true
#hibernate.hbm2ddl.auto = update

#DEPLOYMENT O
#server.port=5000
#jdbc.driverClassName = com.mysql.jdbc.Driver
#jdbc.url = jdbc:mysql://example.com:3306/database
#jdbc.username = username
#jdbc.password = password
#hibernate.dialect = org.hibernate.dialect.MySQL8Dialect
#hibernate.show_sql = true
#hibernate.format_sql = true
#hibernate.hbm2ddl.auto = update
