option_settings:
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name: PORT
    value: 5000
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name: Proxy server
    value: Apache