files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDBzCCAe8CFDwUO60zOQbVbTOsymzoqpX5qYXfMA0GCSqGSIb3DQEBCwUAMEAx
      CzAJBgNVBAYTAlVTMQswCQYDVQQIDAJXSTEQMA4GA1UEBwwHTWFkaXNvbjESMBAG
      A1UECgwJTGVhcm5GYXN0MB4XDTIyMDMwNjEwNDAyMFoXDTIzMDMwNjEwNDAyMFow
      QDELMAkGA1UEBhMCVVMxCzAJBgNVBAgMAldJMRAwDgYDVQQHDAdNYWRpc29uMRIw
      EAYDVQQKDAlMZWFybkZhc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
      AQDWeswFo+8w1hmOJLDGfPmwumnWxeSitffZjzpxSmQIaMldN6gGvzvJI2SPU7Qe
      ydhkD0VKpxNMgo+I4q7Uezm1HxOAtBix4S1qziDGzzJy9zUYDDTibo5cc/94wDbZ
      GW1mTjuq1YVXxkJV5ILjIpXIVrGzBZIx0Z6g8Tuy6IUJiFPdBpkA6uiwVIaYlFlp
      AWXlAaCPAGFExmCyN85Ue1Gc/ZNP6YDpztbKgzp75mK0cWrsdyOVy7QFkacdoR84
      9hGyWFcv3fPOETgO6FxOna0UYOwLNooG1yQjZu4aaFlT8xmOP35g+NPBtyadKB4r
      3eHkNWCL6Y1LdnOSY+yN1rBPAgMBAAEwDQYJKoZIhvcNAQELBQADggEBAI8QnMHj
      D3ceEQQFh/GhPtIPh52wljQT9jwniZIvLS8/NhOurTqOhOxmQDuOHFcLB5bC3F9o
      FFG5+FRN59yQFGFkCJvBcHdK5vnfoxxfqhTtgvsSTWIU2EnIR0MfGCX3GrOA8cCt
      WJLUbq/8bcbwY2LlgfqfjVdADdVRDDBE8san9oBPiMONaOI6WAOtP4hBJvNum07J
      JERXmEyBvkfrV1gHJSTALMJDe4o/8EWAxmzTwaFHNEcaz9THQDI1S07/904asK62
      KYVqXskvU5L8NZKO8KulniJOow47zWCYpMw35lhw0dyOfFF2DuxC28Jvf+yb/UvR
      k3I5KFs65AJ54B8=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----

      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart