<!doctype html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    
    <!-- CSS  -->
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons"
          rel = "stylesheet">
    <link href = "css/materialize.css" type = "text/css"
          rel = "stylesheet"
          media = "screen,projection"/>
    <link href = "css/style.css" type = "text/css" rel = "stylesheet"
          media = "screen,projection"/>
    <!-- Compiled and minified CSS -->
    <link rel = "stylesheet"
          href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    
    <title>Learn Fast</title>
</head>

<body>
<nav class = "sticky materialize-red lighten-2" id = "nav" role = "navigation">
    <div class = "nav-wrapper container">
        
        
        <ul class = "right hide-on-med-and-down">
            <li><a class = "materialize-red white-text btn" href = "#">Create
                                                                       an
                                                                       account</a>
            </li>
        </ul>
        <ul class = "right hide-on-small-and-down hide-on-med-and-up">
            <li><a class = "materialize-red white-text btn" href = "#">Get
                                                                       Learn
                                                                       Fast</a>
            </li>
        </ul>
        
        <ul class = "left show-on-small">
            <li><a id = "logo-container" href = "#"
                   class = "left brand-logo show-on-small">Learn Fast</a></li>
        </ul>
        <ul class = "right show-on-small">
            <li><a class = "white materialize-red-text btn" href = "#">Sign
                                                                       in</a>
            </li>
        </ul>
    </div>
</nav>
<div id = "page-container">
    <div id = "content-wrap">
<div class = "content" id = "content">
    <div class = "section no-pad-bot" id = "index-banner">
        <div class = "container">
            <br><br>
            <h1 class = "header center">Learn Fast: Java Web
                                        Application</h1>
            <div class = "row center">
                <h5 class = "header col s12 light">A modern social connection
                                                   and
                                                   learning management system
                                                   for mentors and mentees</h5>
            </div>
            <div class = "row center">
                <a href = "#"
                   class = "btn-large materialize-red lighten-2">Create an
                                                                 account</a>
            </div>
            <br><br>
        
        </div>
    </div>
    
    
    <div class = "container">
        <div class = "section">
            
            <!--   Icon Section   -->
            <div class = "row">
                
                <div class = "col s12 m4">
                    <div class = "icon-block">
                        <h2 class = "center materialize-red-text"><i
                                class = "material-icons">
                            flash_on</i></h2>
                        
                        <div class = "center">
                            <h5 class = "center">Speeds up learning</h5>
                            <img class = "center"
                                 src = "img/bear1-index.jpg" width
                                         = "150" alt = "bear"/>
                        </div>
                    </div>
                </div>
                
                <div class = "col s12 m4">
                    <div class = "icon-block">
                        <h2 class = "center materialize-red-text"><i
                                class = "material-icons">
                            group</i></h2>
                        
                        <div class = "center">
                            <h5 class = "center">Experience Focused</h5>
                            <img class = "center"
                                 src = "img/bear2-index.jpg" width =
                                         "150" alt = "bear"/>
                        </div>
                    </div>
                </div>
                
                <div class = "col s12 m4">
                    <div class = "icon-block">
                        <h2 class = "center materialize-red-text"><i
                                class = "material-icons">
                            settings</i></h2>
                        <div class = "center">
                            <h5 class = "center">Easy to use</h5>
                            <img class = "center"
                                 src = "img/bear3-index.jpg" width =
                                         "150" alt = "bear"/>
                        </div>
                    </div>
                </div>
            
            </div>
            <br><br>
        </div>
    </div>
</div>
<script src = "js/init.js"></script>
<script src = "js/materialize.js"></script>
<!-- Always visible Sticky Bottom Nav-->
    </div>
<div class = "nav-bottom stickyBottom">
    <footer class = "stickyBottom page-footer materialize-red lighten-2">
        <div class = "container materialize-red lighten-2">
            <div class = "row">
                <div>
                    <a class = "white-text" href = "#!">Privacy</a>
                    <a class = "white-text" href = "#!">Terms</a>
                    <a class = "white-text" href = "#!">About Learn Fast</a>
                    <a class = "white-text" href = "#!">Products</a>
                    <a class = "white-text" href = "#!">Policy</a>
                    <a class = "white-text" href = "#!">Privacy & Security</a>
                </div>
            </div>
        
        </div>
    </footer>
</div>

<!-- Only visible when your at the bottom of the page-->
<div class = "footer" id = "footer">
    <footer class = "stickyBottom page-footer materialize-red lighten-2">
        <div class = "container materialize-red lighten-2">
            <div class = "row">
                <div>
                    <a class = "white-text" href = "#!">Privacy</a>
                    <a class = "white-text" href = "#!">Terms</a>
                    <a class = "white-text" href = "#!">About Learn Fast</a>
                    <a class = "white-text" href = "#!">Products</a>
                    <a class = "white-text" href = "#!">Policy</a>
                    <a class = "white-text" href = "#!">Privacy & Security</a>
                </div>
            </div>
        
        </div>
    </footer>
</div>
</div>

</body>
</html>
